body
{
    background: #f2f6fc ;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    box-sizing: border-box ;
    
}
.wrapper
{
    overflow-x: hidden;
}
html
{
   scroll-behavior: smooth;
}

.header {
background:#fff;
/* position: fixed; */
width: 100%;

height: 70px;
top: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: space-around;
/* padding: 0rem 16px; */
z-index: 100;
}
.header a {
text-decoration: none;
color: #7344d2;
font-size: 19px;
font-family: 'rubik',sans-serif;
font-weight: 600;

}

.active , .header a:hover 
{
color: #7b5eed;
border-bottom: 2px solid #7344d2;
 

}


.header ul {
list-style: none;
padding: 18px
}
.logo2 {
font-size: 2rem;
display: none;
}
.menu-items {
display: flex;
justify-content: space-evenly;
}
.menu-items li {
padding: 10px 16px;
transition: background 0.3s ease-in-out;
font-family: 'lato',sans-serif;
font-weight: 700;
font-size: 25px;

}

.dropdown li
{
padding: 20px 16px;
background: #fff;
font-family: 'rubik',sans-serif;
font-weight: 500;
width: 130px;

/* margin-right: 150px; */
text-align: center;

}
/* dropdown */
.dropdown {
position: relative;
}
.dropdown-menu a
{
color: #7344d2;
}
.dropdown-menu,
.menu-right {
position: absolute;
background: #fff;
/* border: 1px solid #7b5eed; */
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
width: auto;
top: 50px;
border-radius: 5px;
left: -26px;
text-align: center;
font-size: 18px;

display: none;
/* transition: opacity 400ms, visibility 400ms; */

}
.menu-right {
top: 0;
left: 110%;
}

.dropdown-menu::before
{
    content: " ";
    display: block;

     top: -17px;
    left: 70px; 
    position: absolute;
 
    transform: rotate(-180deg);
    border-width: 8px;
    border-style: solid;
    border-color: #7b5eed transparent transparent transparent;
  
}
.dropdown:hover .dropdown-menu {
top: 52px;

display: block;




}
.dropdown-right:hover .menu-right {
/* left: 90%; */
/* opacity: 1; */
display: block;
}





/* NEW STUFFS */

/* nav menu button */
.menu-btn {
position: relative;
display: none;
justify-content: center;
align-items: center;
width: 1.5rem;
height: 1.5rem;
cursor: pointer;
z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
content: "";
position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
width: 1.5rem;
height: 0.1rem;
background: #7344d2;
transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
transform: translateX(2rem);
background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
transform: rotate(45deg) translate(-1.5rem, 1.5rem);
background: #7344d2;
}
.menu-btn.open .menu-btn__lines::after {
transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
background: #7344d2;
}

.hck
{
   color:  #7b5eed; 
    letter-spacing: 1px;
    text-shadow: 0 3px 6px rgb(48 44 255 / 11%);

}

h1
{
   font-size: 2rem;
   margin-left: 20px;
   letter-spacing: 1px;
   text-shadow: 0 3px 6px rgb(48 44 255 / 11%);


}

.nav
{
    float: right;
    width: 50%;
}
.logo
{
    width: 50%;
}
#content
{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #7b5eed; */
    padding: 4% 0;
}
.cont
{
    width: 50%;
    /* background: yellow; */
    height: 500px;
    

}
.dg 
{
    left: 74px;
    top: 60px;
    letter-spacing: 1px;
    color: #302cff;
    font-size: 20px;
    line-height: 1em;
    position: relative;
}
.text
{
    font-size: 3rem;
    position: relative;
    font-family: 'poppins';
    top: 31px;
    left: 52px;
    letter-spacing: 4px;
    text-shadow: 0 3px 6px rgb(48 44 255 / 11%);
}
.text-service
{
    font-size: 38px;
    margin: 44px 74px 25px;
    text-shadow: 0 3px 6px rgb(48 44 255 / 11%);


}
.os
{
    letter-spacing: 1px;
    color: #302cff;
    font-size: 20px;
    display: inline;
    position: relative;
    top: 35px;
    left: 74px;
}
.image
{
    width: 50%;
    height: 500px;

  
}

.gif
{
    width: 600px;
    height: auto;
    background-size: cover;
    /* padding: 0 100px; */
}
.small-text
{
    text-align: start;
    margin: 52px 76px;
    color: #333;
    letter-spacing: 1px;
}
.btn
{
    background-color: #7b5eed;
    color: #fff;
     font-size: large; 
    line-height: 1em;
    letter-spacing: 1px; 
    padding: 22px 32px ;
    border-radius: 10px;
    margin-left: 76px;
  
  
    
}

.btn:hover
{
    background-color: #7344d2;
    cursor: pointer;
    

}

.btn-learn
{
    border: solid 1px #333;
    /* width: 200px; */
    color: #000;
    font-size: large;
    line-height: 1em;
    /* letter-spacing: 2px; */
    padding: 22px 32px;
    transition: linear 201ms;
    border-radius: 10px;
}
.btn-learn:hover
{
    background-color: #7b5eed;
    color: #fff;
    cursor: pointer;
    transition:  linear 201ms;

}

#fame
{
    width: 100%;
    min-height: 43rem;
    /* background-color: #7344d2; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.one , .two , .third , .fourth , .fifth , .six
{
    width: 26%;
    background-color: #fff;
    height: 300px;
   transition: all .2s ease-in-out;
    border-radius: 20px;
}
.two , .fifth
{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

/* .two:hover
{ 
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
} */

#wrap-icon2  ,#wrap-icon4 , #wrap-icon6
{
    width: 60px;
    height: 60px;
    margin:15px ;
    background-color: #7b5eed;
    border-radius: 50%;
    color: #f2f6fc;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#wrap-icon1 , #wrap-icon3 , #wrap-icon5
{
    width: 60px;
    height: 60px;
    margin:15px ;
    background-color: #2A2B2A;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


h4
{
    font-size: 1rem;
    margin-left: 27px;
    font-weight: 700;
    letter-spacing: 1px;
}
h4::before
{
    content: " ";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #000;
    position: relative;
    top: -5px;
    right: 7px;
}
.serve-text
{
  font-size: medium;
  margin: 0px 10px;
  color: #2A2B2A;
}
#about
{
    width: 100%;
    height: 44.375rem;
display: flex;
flex-direction: row-reverse;
justify-content: space-evenly;
align-items: center;
}
.abt
{
    font-family: 'Poppins',sans-serif;
    margin-top: 175px;
    text-shadow: 0 3px 6px rgb(48 44 255 / 11%);
   

}
.abt-us
{
    letter-spacing: 1px;
    font-size: 20px;
    display: inline;
    top: 160px;
    left: 20px;
    position: relative;
    color: #302cff;
}
.abt-small
{
text-align: justify;
margin: 0px 22px;
letter-spacing: 1px;
}
.btn-abt
{
    background-color: #7b5eed;
    color: #fff;
     font-size: large; 
    line-height: 1em;
    letter-spacing: 1px; 
    padding: 22px 32px ;
    border-radius: 10px;
    margin: 65px;
    margin-left: 24px;
  
}
.btn-abt:hover
{
    background-color: #7344d2;
    cursor: pointer;
}
#design
{
    width: 100%;
    height: 44.375rem;
display: flex;
justify-content: space-evenly;
align-items: center;


}
.ds-img 
{
    width: 45%;
    height: 610px;

    
}
.mob
{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.ds-txt
{
    width: 45%;
    height: 610px;
}
.dt
{
    font-family: 'Poppins',sans-serif;
    margin-top: 120px;
    text-shadow: 0 3px 6px rgb(48 44 255 / 11%);

}
.dt-small
{
    text-align: justify;
    margin: 0px 22px;
    color: #333;
    letter-spacing: 1px;
}
.process
{
    width: 100%;
    text-align: center;
    
}
.pr , .cr
{
    text-transform: capitalize;
     letter-spacing: 2px; 
     text-shadow: 0 3px 6px rgb(48 44 255 / 11%);
}

.op
{
    letter-spacing: 1px;
    color: #302cff;
    font-size: 20px;
}
#dedic
{
    width: 100%;
   height: 50rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.c1 , .c3
{
    width: 45%;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 12px 0 rgb(48 44 255 / 5%);
}
.c2 , .c4
{
    width: 45%;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 12px 0 rgb(48 44 255 / 5%)
}



a
{
    color: #fff;
    text-decoration: none;
}

/*==Project-section==========================*/
#project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px;
}
.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: poppins;
}
.project-heading h3{
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: poppins;
    color: #222222;
}
.project-heading span{
    color: #f33c3c;
    text-align: center;
}
.project-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(237,237,237,0.6);
    flex-wrap: wrap;
    margin: 20px;
}
.project-filter li{
    margin: 10px;
    padding: 5px 20px;
    color: #302cff;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.project-filter-active{
    background-color: #f0f0f0;
    color: #272727;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 1200px; */
    margin: auto;
}
.project-box{
    width:330px;
    padding: 15px;
    border: 1px solid #eeeeee;
    margin: 20px;
}
.project-box img{
    width:100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
#contact
{
    width: 65%;
    height: 60rem;
    margin: 10px auto;
    box-shadow: 0 2px 8px 0 rgb(48 44 255 / 1%), 0 1px 3px 0 rgb(7 7 33 / 6%);
    border-style: solid;
    border-width: 0.5px;
    border-color: #cecddd;
    border-radius: 18px;
    background-color: #fff;
    margin-bottom: 50px;
   

}
.ct-inp
{
    height: 10rem;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    flex-wrap: wrap;
}
.inp1 , .inp2 
{
    width: 350px;
    height: 120px;
    background: #fff;
   
}
.inp1  input
{
    padding: 18px 40px;
    outline-color: #302cff;
    border-color: #f6f6fb;
    border: none;
    position: relative;
    top: 40px;
    left: -56px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(48 44 255 / 1%), 0 1px 3px 0 rgb(7 7 33 / 6%);
}
.inp2 input
{
    
    padding: 18px 40px;
    outline-color: #302cff;
    border-color: #f6f6fb;
    border: none;
    position: relative;
    top: 40px;
    left: -56px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(48 44 255 / 1%), 0 1px 3px 0 rgb(7 7 33 / 6%);
}
label
{
    
    font-size: 20px;
    color: #070721;
    font-weight: 500;
}
.inpt
{
    
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#inp-c1 , #inp-c2 , #inp-c3 , #inp-c4
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 100px;
   border: 2px solid #f6f6fb;
   box-shadow: 0 2px 8px 0 rgb(48 44 255 / 1%), 0 1px 3px 0 rgb(7 7 33 / 6%);
    border-radius: 10px;
}
.cts
{
   margin-left: 27px;
}
.txt-area
{
  
    height: 15rem;

}
 textarea
{
   width: 44rem;
    resize: none;
    min-height: 125px;
  margin-left: 30px;
  outline-color: #302cff;
  border-radius: 10px;
  padding: 17px 24px;
  border-style: solid;
  font-size:18px;
  border-width: 1px;
  border-color: #f6f6fb;
  box-shadow: 0 2px 8px 0 rgb(48 44 255 / 1%), 0 1px 3px 0 rgb(7 7 33 / 6%);
}
.sb
{
    
    background-color: #7b5eed;
    color: #fff;
     font-size: large; 
    line-height: 1em;
    letter-spacing: 1px; 
    padding: 17px 32px ;
    border-radius: 10px;
    margin: 65px;
    margin-left: 33px;
}
.sb:hover
{
    background-color: #7344d2;
    cursor: pointer;
}
::placeholder
{
    font-size: 16px;
    color: #070721;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#icons
{
    color: #7b5eed;
}
footer
{
    background-color: #12141d;
    width: 100%;
    height: 21rem;
}
.grid
{

    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.ft , .pages , .addr
{
    width: 200px;
    height: 200px;
    padding:40px 75px;
}
.md
{
    color: #fff; font-size: 1.17em; font-weight: bold;
}
@media(max-width:740px){
    .project-filter{
        background-color: #f9f9f9;
        border: 1px solid rgba(0,0,0,0.05);
    }
    .project-filter-active{
        background-color: #ffffff;
        border: 1px solid rgb(219,219,219);
    }
    .project-box{
        width: 80%;
    }
}
@media(max-width:550px){
    .project-heading h3{
        font-size: 1.8rem;
    }
}
ul
{
    list-style: none;
}
@media  (max-width:480px) {
       
.menu-btn {
    display: block;
    position: relative;
    top: 12px;
     left:3px;
      height: 20px;
     cursor: pointer;
  
       }
  
   .header .menu-items {
     position: absolute;
     height: 520px;
     width: 100%;
     max-width: 600px;
     top: 70%;
     background: #fff;
     display: block;
     visibility: visible;
     line-height: 3rem;
     overflow: hidden;
     overflow-y: auto;
     transform: translateY(-120vh);
     transition: transform 0.3s ease-out;
   }
   .header
   {
     width: 100% !important;
     margin: 0;
     height: 80px;
  
     position: fixed;
   }
   .menu-items.open {
     transform: translateY(0);
   }
  
   .menu-items li {
     margin: 15px 10px;
     overflow: hidden;
   }
   .menu-items li a {
     /* padding: 0 1rem; */
     display: block;
     background-color: #fff;
     font-size: 1.4rem;
     color: #7344d2;
     overflow: hidden;
   }
   .menu-items li:hover {
    
     box-shadow: none;
    
    
    
   }
  
   /* DROPDOWN, MEGA MENUS */
   .menu-items .dropdown-menu,
   .menu-items .menu-right,
   .menu-items .mega-menu {
     position: static;
     opacity: 1;
     top: 4rem;
     visibility: visible;
     display: block;
     padding-left: 1rem;
     width: 100%;
     max-height: 0;
     transform: scaleY(0);
     transform-origin: top;
     overflow: hidden;
     transition: all 0.2s ease;
   }
   .expand-btn.open + .expandable {
     max-height: 50%;
     transform: scaleY(1);
     background-color: #fff;
     overflow: hidden;

   ;
   }
   .header a
   {
       color: #7344d2;
   }
   .active ,.header a:hover
   {
       border-bottom: #fff;
   }
   .expandable li {
     margin: 0;
     width: auto;
   }
   .expandable li a {
     font-size: 1rem;
     text-align: justify;
   }
   .logo
   {
       width: 100%;
   }
    
    #content
    {
        flex-direction: column-reverse;
        width: 100vw;
        height: 57rem;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .cont 
    {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .image
    {width: 100%;
        height: 480px;
        overflow: hidden;
    }
    .text
    {
/*         padding: 0% 31px; */
        position: unset;
        font-size: 1.8rem;

    }
    .gif
    {
        padding: 20px 0px;
        width: 400px;
        overflow: hidden;
       
    }
    .dg
    {
        top: 0;
        left: 20px;
    }
    .text-service
    {
       
        font-size: 1.4rem;
        margin: 47px 16px 7px;
       
    }
    .os
    {
        left: 18px;
    }
    #about
    {
        width: 100vw;
        flex-direction: column-reverse;
        height: 1110px;
        overflow: hidden;
    }
    .abt-small
    {
        text-align: unset;
    }
    .abt
    {
        margin-top: 0;
        font-size: 1.5rem;
        margin: 6px 22px;
    }
    .abt-us
    {
        top: 0;
    }
    .small-text
    {
        margin: 0 18px;
    }
    .btn-abt
    {
        padding:22px 12px;
    }
    .btn
    {
        margin-left: 15px;
        margin-top: 40px;
        padding: 22px 12px;
    }
    .btn-learn
    {
        padding: 22px 12px;
    }
    #fame
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        height: 1200px;
        overflow: hidden;
    }
    .one , .two , .third , .fourth , .fifth , .six
{
    width: 45%;
    overflow: hidden;
    height: 380px;
    box-shadow: none;
}
#design
{
    flex-direction: column-reverse;
    width: 100vw;
    height: 52rem;
    overflow: hidden;
}
.ds-img , .ds-txt
{
    width: 100%;
    overflow: hidden;
    height: auto;
}

.dt
{
    margin-top: 0;
/*     margin-left: 60px; */
}
.dt-small
{
    margin: 0 20px;
    text-align: unset;
}
#dedic
{
    flex-direction: column;
    width: 100vw;
    height: 98rem;
    overflow: hidden;
}
.process
{
    width: 100vw;
    overflow: hidden;
    margin-bottom: 30px;
}
#project
{
    width:100vw;
    overflow: hidden;
}
.c1 , .c2 , .c3 , .c4
{
    width: 90%;
    overflow: hidden;
}
#contact
{
    width: 94vw;
    overflow: hidden;
    height: 86rem;
  
}
textarea
{
    width: 330px;
    margin-left: 12px;
    overflow: hidden;
    padding: 17px 6px;
    
    
}
.inpt
{
    height: 38rem;
    overflow: hidden;
}
.ct-inp
{
    width: auto;
    height: 330px;
    overflow: hidden;
}
 .inp1 input
{
  padding: 18px 91px;
  left: auto;
}
 .inp2 input
{
  padding: 18px 91px;
  left: auto;
}
.cts
{
    margin-top: 10px;
}
footer
{
    width: 100vw;
    height: 41rem;
    overflow: hidden;
}
    .grid
    {
        flex-direction:column;
        width:100vw;
        height:585px;
    }
.ft , .pages , .addr
{
    width: 250px;
/*     overflow: hidden; */
    padding: 4px 0px;
}
}
